# I'm no fan of copywrong, but sometimes may be useful
snippet (c)
	`&enc[:2] == "utf" ? "©" : "(c)"` Copyright `strftime("%Y")` ${1:`g:snips_author`}. All Rights Reserved.${2}
snippet st "Long form"
	such that
# Medium date: Month daynr, Year
snippet mdate
	`strftime("%B %-d, %Y")`
# Short date: Year-monthnr-daynr
snippet sdate
	`strftime("%Y-%m-%d")`
